<!DOCTYPE html>
<html>
<style>
table {
  font-family: arial, sans-serif;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px inset black;;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/stacktable.js"></script>
<link href="css/stacktable.css" rel="stylesheet">

    <head>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a class="active" href="add-vacaciones.html">REGRESAR</a></li>
          </ul>
    </head>

    <body ></body>
  <table id="websendeos">  
     <div style="background:#F2F2F2">   
        <table  border="1px"> <!-- Lo cambiaremos por CSS -->
           <tr>
                <td colspan="7"> <img src="abg.png" width="500" height="130"></td>
                <td  colspan="5" > <p align="center">ACCION DE PERSONAL</p><p>No.</p><p>ABG-UAH-ACP-2021-	numero secuencial</p>
              <p align="center">fecha automatico</p></td>
           </tr>
           
           <tr>
        <TD colspan="12">
    DECRETO: <label><input type="checkbox" ></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    ACUERDO: <label><input type="checkbox"> </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    RESOLUCION: <label><input type="checkbox"> </label>
       <p>NO.__________	 FECHA:_______</p></td>
           </tr>
           
           <tr>
        <td style="text-align:center;"colspan="12">
        <h1>NOMBRE DEL EMPLEADO</h1>
        APELLIDOS NOMBRES 
      </td>
           </tr> 
           
             <tr>
    			 <th colspan="4">No. de Cedula de Ciudadania</th>
   				 <th colspan="4">Desde</th>
   				 <th colspan="4">Hasta</th>
 			 </tr>
            <tr>
    			 <th colspan="4">No de la base de datos</th>
   				 <th colspan="4"><input type="date" id="calendar" name="calendar"></th>
   				 <th colspan="4"><input type="date" id="calendar2" name="calendar2"></th>
 			 </tr>
            
            <tr>
            	<td colspan="12">EXPLICACION: (Opcional:Adjuntar Anexo<br> 
              <p>La Directora Ejecutiva de la ABG en uso de sus facultades y de conformidad con el Art. <input type="text"  onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="width : 20px" id="art" name="art"> de la Ley Organica del Servicio Publico, y en concordancia con el Art. 28 del Reglamento a la LOSEP, se concede <input type="text" style="width : 250px" id="vca" name="vca">, segun Memorando Nro. <input type="text" style="width : 200px" id="memo" name="memo"> de fecha <input type="text" id="funitalento" name="funitalento">. </p></td>
 			 </tr>
            
            <tr>
     <TD colspan="3">
    INGRESO: <input type="checkbox"></label><BR>
    NOMBRAMIENTO<input type="checkbox"> </label><BR>
    ASCENSO <input type="checkbox"> </label><BR>
    SUBROGACIO<input type="checkbox"> </label><BR>
    ENCARGO<input type="checkbox"> </label><BR>
    VACACIONES <input type="checkbox">
      </TD>
                 
      <TD colspan="3">
      TRASLADO <input type="checkbox"> </label><BR>
      TRASPASO <input type="checkbox"> </label><BR>
      CAMBIO ADMINISTRATIVO<input type="checkbox"> </label><BR>
      INTERCAMBIO <input type="checkbox"> </label><BR>
      COMISION DE SERVICIOS <input type="checkbox"> </label><BR>
      LICENCIA <input type="checkbox"> </label>
      </TD>
                 
      <TD colspan="1">
     REVALORIZACION<input type="checkbox"><BR>
     RECLASIFICACION<input type="checkbox"><BR>
     UBICACION<input type="checkbox"><BR>
     REINTEGRO<input type="checkbox"><BR>
     RESTITUCION<input type="checkbox"><BR>
     RENUNCIA <input type="checkbox">
     			 </TD>
                 
    <TD colspan="5">
     SUPRESION <input type="checkbox"><BR>
     DESTITUCION<input type="checkbox"><BR>
     REMOCION<input type="checkbox"><BR>
     JUBILACON<input type="checkbox"><BR>
     OTRO <input type="text" style="width : 260px" id="funitalento" name="funitalento"><BR>
                
     			 </TD>
             </tr>
            
             <tr>
                <tD colspan="6">SITUACION ACTUAL<BR> PROCESO: DATOS DE LA BD</td>
                <tD  colspan="6"> SITUACION PROPUESTA <BR> PROCESO:</td>
           </tr>
            
      <tr>
      <tD colspan="6">SUBPROCESO: DATOS DE LA BD</td>
      <tD  colspan="6"> SUBPROCESO: </td>
      </tr>
            
      <tr>
      <tD colspan="6">PUESTO: DATOS DE LA BD</td>
      <tD  colspan="6">PUESTO: </td>
      </tr>      
       
      <tr>
      <tD colspan="6">LUGAR DE TRABAJO: DATOS DE LA BD</td>
      <tD  colspan="6">LUGAR DE TRABAJO: </td>
      </tr>
            
      <tr>
      <tD colspan="6">REMUNERACION: DATOS DE LA BD</td>
      <tD  colspan="6">REMUNERACION: </td>
      </tr>    
       
      <tr>
      <tD colspan="6">PARTIDA PRESUPUESTARIA: <BR> DATOS DE LA BD</td>
      <tD  colspan="6">PARTIDA PRESUPUESTARIA: <BR><BR> </td>
      </tr>   
       
      <tr>
      <tD colspan="5"><p style="text-align:center" >ACTA FINAL DEL CONCURSO</p<BR><BR><BR><BR>
      No. _________  Fecha: _________<BR><BR></td>
      <tD style="text-align:center" colspan="7">PROCESO DE TALENTO HUMANO <BR><BR> f. __________________________<br><br> <input type="text" id="funitalento" name="funitalento"><BR>UNIDAD DE TALENTO HUMANO</td>
      </tr>     
       
       <TR>
       <tD style="text-align:center" colspan="12"> DIOS, PATRIA Y LIBERTAD <BR><BR><BR> f. __________________________<br> <input type="text" style="text-transform:uppercase;" value=""  onkeyup="javascript:this.value=this.value.toUpperCase();" id="fautoridad" name="fautoridad"></td>
      </tr>  
       
       <TR>
       <tD style="text-align:center" colspan="12">AUTORIDAD NOMINADORA
      </tr>
       
       <tr>
      <tD style="text-align:center" colspan="4">TALENTO HUMANO<BR><BR>
      No. MISMO CODIGO SECUENCIAL DE ARRIBA  Fecha: MISMA FECHA QUE ARRIBA</td>
      <tD style="text-align:center" colspan="4"><BR><BR><BR> f. ___________________<br><BR>RESPONSABLE DEL REGISTRO (sale quien inicia sesion)</td>
      <tD style="text-align:center" colspan="4"><BR><BR><BR> f. ___________________<br><BR>SERVIDOR</td>
      
        <TR>
          <tD style="text-align:center" colspan="12">Fecha de creacion de formato: 2014-05-27  /  Revision:00  /  Pagina 1 de 2
         </tr>  

        </table></div>


        <P align="center"><input type="submit" value="IMPRIMIR"></P>
      </table>
    </body>
    
    <script>
function validaNumericos(event) {
    if(event.charCode >= 48 && event.charCode <= 57){
      return true;
     }
     return false;        
}
         </script>
      <script>
          $('#websendeos').stacktable();
     </script>
<script>
      $('table').stacktable();
 </script>
  

    
</html>
