<!doctype html>
<html lang="en">

  <style>
    .center {
      text-align: center;
    }

    body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(155,155,155,.1);
  border: 1px solid rgba(155,155,155,.1);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
    
  </style>


  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Document</title>
  </head>


  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/ingreso">Solicitud Vacaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/nombramiento">Nombramiento</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subrogacion">Subrogación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/encargo">Encargo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vacaciones">Vacaciones</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
   </header>


<body>
<div class="container">
    <form>
      <h2 align="center">Formulario de Ingreso</h2>
      <div class="container">
      <div class="row">
        <div class="col-md-8">
          <td colspan="7"> <img src="abg.png" width="500" height="130"></td>
        </div>  
          <div class="col-md-4">  
          <td  colspan="5" > <p align="center">ACCION DE PERSONAL</p><p>No.</p><p>ABG-UAH-ACP-2021-	numero secuencial</p>
        <p align="center">fecha automatico</p></td>
        </div>
        
      </div>

      
      <div class="row">
              <div class="col-md-4">DECRETO&nbsp;<input type="checkbox" ></div>
              <div class="col-md-4">ACUERDO&nbsp;<input type="checkbox" ></div>
              <div class="col-md-4">RESOLUCION&nbsp;<input type="checkbox" ></div>
      </div>
       

      <div class="row">
          <div class="col-md-6">No.</div>
          <div class="col-md-6">FECHA</div>
      </div>
      
      <div class="row" >
        <div class="col-md-12" >
          <p align="center">NOMBRE DE LA PERSONA DE LA BASE DE DATOS</p>
          <div class="row">
            <div class="col-md-6">APELLIDOS</div>
            <div class="col-md-6">NOMBRES</div>
      </div>

     <div class="row" >
            <div class="col-md-4">No. de Cédula de Ciudadania</div>
            <div class="col-md-4">Desde</div>
            <div class="col-md-4">Hasta</div>
          <div class="row">
            <div class="col-md-4">BASE DE DATOS</div>
            <div class="col-md-4"><input type="date" id="calendar" name="calendar"></div>
            <div class="col-md-4"><input type="date" id="calendar2" name="calendar2"></div>
      </div></div>

      
      <div class="col-md-12" >
          EXPLICACIÓN:(Opcional: adjuntar Anexo)
          <div class="row">
            <div class="col-md-12">La Directora Ejecutiva de la ABG en uso de sus facultades y de conformidad con el Art. <input type="text"  onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="width : 20px" id="art" name="art"> de la Ley Organica del Servicio Publico, y en concordancia con el Art. 28 del Reglamento a la LOSEP, se concede <input type="text" style="width : 250px" id="vca" name="vca">, segun Memorando Nro. <input type="text" style="width : 200px" id="memo" name="memo"> de fecha <input type="text" id="funitalento" name="funitalento">. </p></td>
            </div>
      </div></div>

      <div class="row" >
        <div class="row" >
            <div class="col-md-3">INGRESO <input type="checkbox"></div>
            <div class="col-md-3">TRASLADO <input type="checkbox"></div>
            <div class="col-md-3">REVOLARIZACION <input type="checkbox"></div>
            <div class="col-md-3">SUPRESION <input type="checkbox"></div><br>
            <div class="col-md-3">NOMBRAMIENTO <input type="checkbox"></div>
            <div class="col-md-3">TRASPASO <input type="checkbox"></div>
            <div class="col-md-3">RECLASIFICACION <input type="checkbox"></div>
            <div class="col-md-3">UBICACION <input type="checkbox"></div><br>
            <div class="col-md-3">REMOCION <input type="checkbox"></div>
            <div class="col-md-3">SUBROGACION <input type="checkbox"></div>
            <div class="col-md-3">INTERCAMBIO <input type="checkbox"></div>
            <div class="col-md-3">REINTEGRO <input type="checkbox"></div><br>
            <div class="col-md-3">JUBILACION <input type="checkbox"></div>
            <div class="col-md-3">ENCARGO <input type="checkbox"></div>
            <div class="col-md-3">COMISION DE SERVICIOS <input type="checkbox"></div>
            <div class="col-md-3">RESTITUCION <input type="checkbox"></div><br>
            <div class="col-md-3">OTRO <input type="checkbox"></div>
            <div class="col-md-3">VACACIONES <input type="checkbox"></div>
            <div class="col-md-3">LICENCIA <input type="checkbox"></div>
            <div class="col-md-3">RENUNCIA <input type="checkbox"></div>
        </div></div>

        <div class="row">
              <div class="col-md-6"> <div class="center">SITUACION ACTUAL
              <div class="row">
                <div class="col-md-12">PROCESO:  DATOS SACADOS DE LA BASE DE DATOS </div>
              </div></div></div>
              <div class="col-md-6"> <div class="center">SITUACION PROPUESTA
                <div class="row">
                  <div class="col-md-12">PROCESO:  DATOS SACADOS DE LA BASE DE DATOS </div></div>
        </div></div></div></div>

        <div class="row">
          <div class="col-md-6">
            SUBPROCESO:  DATOS SACADOS DE LA BASE DE DATOS </td>
          </div>  
            <div class="col-md-6"> SUBPROCESO:
          </div></div>

        <div class="row">
            <div class="col-md-6">
              PUESTO:  DATOS SACADOS DE LA BASE DE DATOS </td>
            </div>  
              <div class="col-md-6"> PUESTO:
        </div></div>

        <div class="row">
              <div class="col-md-6">
                LUGAR DE TRABAJO:  DATOS SACADOS DE LA BASE DE DATOS </td>
              </div>  
                <div class="col-md-6"> LUGAR DE TRABAJO:
        </div></div>

        <div class="row">
          <div class="col-md-6"> REMUNERACIÓN MENSUAL:  DATOS SACADOS DE LA BASE DE DATOS </td>
          </div>  
            <div class="col-md-6"> REMUNERACIÓN MENSUAL: 
          </div></div>

          <div class="row">
            <div class="col-md-6"> PARTIDA PRESUPUESTARIA: DATOS SACADOS DE LA BD </td>
            </div>  
              <div class="col-md-6"> PARTIDA PRESUPUESTARIA: 
            </div></div>
 
      <div class="row">
        <div class="col-md-6">
          <p class="center">ACTA FINAL DEL CONCURSO</p>
          <div class="row">
            <div class="col-md-6">No.</div>
            <div class="col-md-6">Fecha:</div>
          </div>
        </div>
        <div class="col-md-6"><p class="center">PROCESO DE TALENTO HUMANO</p>
            <div class="row">
            <div class="col-md-6">No.</div>
            <div class="col-md-6">Fecha:</div>
          </div>
        </div>
</div></div>

<div class="row" >
  <div class="col-md-12" >
    <p align="center">DIOS, PATRIA Y LIBERTAD</p> 
    <div class="row" >
      <div class="col-md-12" >
        <p align="center">f.______________________________</p>
        <div class="col-md-12" >
          <p align="center"><input type="text" id="fautoridad" name="fautoridad"></p>
</div></div>

    <div class="row" >
      <div class="col-md-12" >
        <p align="center">AUTORIDAD NOMINADORA</p>
    </div></div>

    <div class="row">
      <div class="col-md-4">
        <br><p class="center">TALENTO HUMANO</p>
        <div class="row">
          <div class="col-md-6">No.</div>
          <div class="col-md-6">Fecha:</div>
        </div>
      </div>

      <div class="col-md-4"><p class="center"><br></p>
      <div class="row">
          <div class="col-md-12"><p align="center">f. ___________________</p></div>
          <div class="col-md-12"><p align="center">Responsable del Registro</p></div>
        </div>
      </div>

      <div class="col-md-4"><p class="center"><br></p>
      <div class="row">
          <div class="col-md-12"><p align="center">f. ___________________</p></div>
          <div class="col-md-12"><p align="center">Servidor</p></div>
        </div>
      </div>
</div></div></div>

<div class="row" >
  <div class="col-md-12" >
    <p align="center">Fecha de creacion de formato: 2014-05-27  /  Revision:00  /  Pagina 1 de 2</p>
</div></div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


  </html>