<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Document</title>
</head>

<style>
  .center {
    text-align: center;
  }

body {
padding-top: 2rem;
padding-bottom: 2rem;
}

h3 {
margin-top: 2rem;
}

.row {
margin-bottom: 1rem;
}
/* .row .row {
margin-top: 1rem;
margin-bottom: 0;
} */
[class*="col-"] {
padding-top: 1rem;
padding-bottom: 1rem;
background-color: rgba(86,61,124,.1);
border: 1px solid rgba(253, 252, 255, 1);
}

hr {
margin-top: 2rem;
margin-bottom: 2rem;
}
  
.padre {
  margin: 1rem;
  padding: 1rem;
  /* IMPORTANTE */
  text-align: center;
}

</style>


<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <title>Document</title>
</head>


<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="ingreso_solicitud.html">Ingreso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./nombramiento_solicitud.html">Nombramiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./subrogacion">Subrogación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./encargo">Encargo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="vacaciones_solicitud.html">Vacaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="registro_empleado.html">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="login.html">SALIR</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
 </header>



  
<body>
  <h1>BIENENIDOS A LA NUEVA PAGINA</h1>
       <p class="padre"><img src="../hola.gif"></p>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

<script>
  $(".submenu").click(function(){
  $(this).children("ul").slideToggle();
})

$("ul").click(function(ev){
  ev.stopPropagation();
})
</script>
</html>


