<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Sidebar Menu  | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>


<style>
body {
  background-image: url("http://imgh.us/background-08_2.png");
  font-family: "Roboto", Arial, Sans-Serif;
  text-align: center;
}

input:focus {
    outline: none;
}

.padre {
  margin: 1rem;
  padding: 1rem;
  /* IMPORTANTE */
  text-align: center;
}

.iniciarsesion {
  /* background-color: #ffffff; */
  border: 1px solid #12B6CC;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #bababa;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-top: 60px;
  margin-bottom: 60px ;
  padding: 70px 60px;
}

.logo {
  margin-bottom: 45px;
  width: 255px;
}

.error {
  color: red;
  margin-bottom: 30px; 
  
}

.formulario {
  border: none;
  border-bottom: 1px solid #41ABD6;
  width: 100%;
  padding-left: 3px;
  margin-bottom: 17px;
  font-size: 16px;
  color: #919191;
  transition: all .3s ease;

}

.formulario:focus {
  color: #000000;
  
}
.formulario:hover {
  
  border-bottom: 1px solid #41ABD6;
  transition: all .3s ease;

}

.verpass {
  text-align: right !important;
}

.link {
  color: #41ABD6;
  font-size: 13px;
  line-height: 10px;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: #0088B2;
}

.boton1 {
  background-color: #41ABD6;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px 0;
  margin: 40px 0px 55px 0px;
  transition: all .3s ease;
}

.boton1:hover {
    background-color: #E3BC9A;
    transition: all .3s ease;
  }
    </style>
    
     <body>
      <div class="sidebar">
        <div class="logo-details">
          <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">CodingLab</div>
            <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav-list">
          <li>
              <i class='bx bx-search' ></i>
             <input type="text" placeholder="Search...">
             <span class="tooltip">Search</span>
          </li>
          <li>
            <a href="/listado.ejs">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Lista de Empleados</span>
            </a>
             <span class="tooltip">Lista de Empleados</span>
          </li>
          <li>
           <a href="/nuevo_usuario.ejs">
             <i class='bx bx-user' ></i>
             <span class="links_name">Usuarios</span>
           </a>
           <span class="tooltip">Usuarios</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-chat' ></i>
             <span class="links_name">Solicitudes</span>
           </a>
           <span class="tooltip">Solicitudes</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-pie-chart-alt-2' ></i>
             <span class="links_name">Analytics</span>
           </a>
           <span class="tooltip">Analytics</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-folder' ></i>
             <span class="links_name">File Manager</span>
           </a>
           <span class="tooltip">Files</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-cart-alt' ></i>
             <span class="links_name">Order</span>
           </a>
           <span class="tooltip">Order</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-heart' ></i>
             <span class="links_name">Saved</span>
           </a>
           <span class="tooltip">Saved</span>
         </li>
         <li>
           <a href="#">
             <i class='bx bx-cog' ></i>
             <span class="links_name">Setting</span>
           </a>
           <span class="tooltip">Setting</span>
         </li>
         <li class="profile">
             <div class="profile-details">
               <img src="profile.jpg" alt="profileImg">
               <div class="name_job">
                 <div class="name">Prem Shahi</div>
                 <div class="job">Web designer</div>
               </div>
             </div>
             <i class='bx bx-log-out' id="log_out" ></i>
         </li>
        </ul>
      </div>
      <section class="home-section">
        <form class="padre" action="/pagina_principal.ejs" method="POST">
          <div class="iniciarsesion">
            <div>
            <img src="abg.png"  class="logo">
            </div>
            <div class="animated flash">
            <p>
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <H1>¿OLVIDASTE TU CONTRASEÑA?</H1>
            <h2>Introduce tu correo electronico:</h2>
            </p>
            </div>
    
            <div>
             <div class="padre"><br>
              <input name="pass" type="text" class="formulario" class="form-control"  placeholder="Correo">
              <label for="floatingPassword"></label>
            </div>
            <button class="boton1" class="btn btn-primary" type="submit">Enviar</button>           
          </div>
      </section>
    
      <script src="script.js"></script>
    </body>
  
      <!-- Optional JavaScript; choose one of the two! -->
  
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
      -->
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


</html>
