<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> Responsive Sidebar Menu | CodingLab </title>
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .btnEnviar {
      width: 100%;
      text-align: center;
    }

    .btnEnviar button {
      margin-left: 30PX;
      background: green;
      padding: 10px;
      width: 200px;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 30%);
    }

    .home-section {
      padding: 20px;
    }

    table {
      /* 
  background: white; */
      width: 50%;
      margin: 0 auto;
      margin-top: 2%;
      border-collapse: collapse;
      border-color: black;
      text-align: center;
    }

    th {
      /* background-color: rgba(5, 5, 100, 95); */
      height: 35px;
      border-bottom: 1px solid rgb(210, 220, 250);
      border-color: black;
      color: rgb(0, 0, 0);
    }

    td {
      color: black;
      height: 30px;
      border: 0.5px solid rgba(240, 240, 240, 10);
      border-color: black;
      text-align: left;
    }

    .mipar {
      text-align: center;
      color: rgb(0, 0, 0);
      font-size: 30px;
      font-weight: 400;
      white-space: nowrap;
      /* opacity: 0; */
      pointer-events: none;
      transition: 0.4s;
    }

    tfoot {
      font-weight: bold;
    }

    /*Pseudo-clases*/
    /* th:hover {
  background-color: rgba(20, 20, 20, 90);
}
tr:hover {
  background-color: rgba(15, 25, 25, 90);
} */
    /* Estililos de clases*/
    .PrecioTotal:hover,
    .CantidadTotal:hover {
      color: rgb(230, 50, 50);
    }

    .Cabecera {
      /* 
  background-color: rgba(255, 255, 255, 0.99); */
      border-radius: 4px;

      margin: 0 25%;
      text-align: center;
      color: black;
    }

    a {
      text-decoration: none;
      color: rgb(7, 7, 7);
      font-size: 14pt;
    }

    footer {
      margin-top: 40px;
      text-align: center;

    }

    table {
      font-family: arial, sans-serif;
      width: 100%;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      border-left: 1px inset black;
    }

    .padding {
      padding-top: 50px;
      padding-right: 30px;
      padding-bottom: 50px;
      padding-left: 30px;
    }
  </style>
</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
      <div class="logo_name">Empresa</div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Buscar</span>
      </li>

      <li>
        <a href="http://localhost:3000/empleados2">
          <i class='bx bx-user'></i>
          <span class="links_name">Empleados</span>
        </a>
        <span class="tooltip">Gestión Empleados</span>
      </li>

      <li class="profile">
        <div class="profile-details">
          <img src="/images/profile.jpg">
          <div class="name_job">
            <div class="name">Prem Shahi</div>
            <div class="job">Web designer</div>
          </div>
        </div>
        <i class='bx bx-log-out' id="log_out"></i>
      </li>
    </ul>
  </div>
  <section class="home-section">

    <header class="Cabecera">
      <h3> </h3>
    </header>
    <table>
      <!-- Lo cambiaremos por CSS -->
      <P class="mipar"> SOLICITUD DE TALENTO HUMANO</P>
      <tr>
        <td colspan="7"> <img src="/images/abg.png" width="500" height="130"></td>
        <td colspan="5"> ACCION DE PERSONAL <br>
          <span id="codigoSec"></span>
          <br> <span id="fechaAutomtica1"></span>
        </td>
      </tr>

      <tr>
        <TD colspan="1" style=" border: inset 0pt">DECRETO: <label><input type="checkbox" disabled></label></TD>
        <TD colspan="1" style=" border: inset 0pt">ACUERDO: <label><input type="checkbox" disabled></label></TD>
        <TD colspan="1" style=" border: inset 0pt">RESOLUCION: <label><input type="checkbox" disabled></label></TD>
      </tr>

      <tr>
        <TD colspan="1" style=" border: inset 0pt"></TD>
        <TD colspan="1" style=" border: inset 0pt">NO.________________ </TD>
        <TD colspan="1" style=" border: inset 0pt">FECHA:________________ </TD>
      </tr>


      <tr>
        <td style="text-align:center; " colspan="12" id="nomEmpleado1"></td>
      </tr>

      <tr>
        <td style="text-align:center" colspan="4">No. de Cedula de Ciudadanìa</td>
        <td style="text-align:center" colspan="4">Desde</td>
        <td style="text-align:center" colspan="4">Hasta</td>
      </tr>
      <tr>
        <td style="text-align:center; " colspan="4" id="cedula1"></td>
        <td style="text-align:center" colspan="4"><input id="fdesde" type="date" id="calendar" name="calendar"></td>
        <td style="text-align:center" colspan="4"><input id="fhasta" type="date" id="calendar" name="calendar"></td>
      </tr>

      <tr>
        <td colspan="12" id="contentCheck"></td>
      </tr>

      </tr>
      <tr></tr>

      <tr>
        <TD colspan="1">
          INGRESO<input type="checkbox" value="INGRESO" class="check"></label><BR>
          NOMBRAMIENTO<input type="checkbox" value="NOMBRAMIENTO" class="check"> </label><BR>
          ASCENSO <input type="checkbox" value="ASCENSO" class="check"> </label><BR>
          SUBROGACIO<input type="checkbox" value="SUBROGACIO" class="check"> </label><BR>
          ENCARGO<input type="checkbox" value="ENCARGO" class="check"> </label><BR>
          VACACIONES <input type="checkbox" value="VACACIONES" class="check">
        </TD>

        <TD colspan="1">
          TRASLADO <input type="checkbox" value="TRASLADO" class="check"> </label><BR>
          TRASPASO <input type="checkbox" value="TRASPASO" class="check"> </label><BR>
          CAMBIO ADMINISTRATIVO<input type="checkbox" value="CAMBIO ADMINISTRATIVO" class="check"> </label><BR>
          INTERCAMBIO <input type="checkbox" value="INTERCAMBIO" class="check"> </label><BR>
          COMISIÓN DE SERVICIOS <input type="checkbox" value="COMISIÓN DE SERVICIOS" class="check"> </label><BR>
          LICENCIA <input type="checkbox" value="LICENCIA" class="check"> </label>
        </TD>

        <TD colspan="7">
          REVALORIZACIÓN<input type="checkbox" value="REVALORIZACIÓN" class="check"><BR>
          RECLASIFICACIÓN<input type="checkbox" value="RECLASIFICACIÓN" class="check"><BR>
          UBICACIÓN<input type="checkbox" value="UBICACIÓN" class="check"><BR>
          REINTEGRO<input type="checkbox" value="REINTEGRO" class="check"><BR>
          RESTITUCIÓN<input type="checkbox" value="RESTITUCIÓN" class="check"><BR>
          RENUNCIA <input type="checkbox" value="RENUNCIA" class="check">
        </TD>

        <TD colspan="3">
          SUPRESIÓN <input type="checkbox" value="SUPRESIÓN" class="check"><BR>
          DESTITUCIÓN<input type="checkbox" value="DESTITUCIÓN" class="check"><BR>
          REMOCIÓN<input type="checkbox" value="REMOCIÓN" class="check"><BR>
          JUBILACIÓN<input type="checkbox" value="JUBILACIÓN" class="check"><BR>
          PERMISO IMPUTABLE VACACIONES<input type="checkbox" value="PERMISO IMPUTABLE VACACIONES" class="check"><BR>
          OTRO <input type="checkbox" value="OTRO" class="check"><BR>

        </TD>
      </tr>

      <tr>
        <tD colspan="5">SITUACION ACTUAL<BR> PROCESO: <span id="proceso1"></span></td>
        <tD colspan="7"> SITUACION PROPUESTA <BR> PROCESO: </td>
      </tr>

      <tr>
        <tD colspan="5">SUBPROCESO: <span id="subproceso1"></span></td>
        <tD colspan="7"> SUBPROCESO: </td>
      </tr>

      <tr>
        <tD colspan="5">PUESTO: <span id="puesto1"></span></td>
        <tD colspan="7">PUESTO: </td>
      </tr>

      <tr>
        <tD colspan="5">LUGAR DE TRABAJO: <span id="ltrabajo1"></span></td>
        <tD colspan="7">LUGAR DE TRABAJO: </td>
      </tr>

      <tr>
        <tD colspan="5">REMUNERACION: <span id="remuneracion1"></span></td>
        <tD colspan="7">REMUNERACION:</td>
      </tr>

      <tr>
        <tD colspan="5">PARTIDA PRESUPUESTARIA: <BR> <span id="partida1"></span></td>
        <tD colspan="7">PARTIDA PRESUPUESTARIA: <BR> </td>
      </tr>

      <tr>
        <tD style="text-align:center" colspan="5">ACTA FINAL DEL CONCURSO<BR><BR>
          No. _________ Fecha: _________</td>
        <tD style="text-align:center; " colspan="7">PROCESO DE TALENTO HUMANO <BR><BR> f.
          __________________________<br> <input type="text" id="jefa1" name="proc_talent"
            placeholder="JEFA ENCARGADA"><BR>UNIDAD DE TALENTO HUMANO</td>
      </tr>

      <TR>
        <tD style="text-align:center; " colspan="12">DIOS, PATRIA Y LIBERTAD <BR><BR>
          f. __________________________<br> <input type="text" id="jefa2" name="dios" placeholder="JEFE CUALQUIERA"></td>
      </tr>

      <TR>
        <tD style="text-align:center" colspan="12"><input type="text" id="jefa3" name="dios"
            placeholder="ENCARGADO AUTORIDAD NOMINADORA">
      </tr>

      <tr>
        <tD style="text-align:center; " colspan="4">TALENTO HUMANO<BR><BR>
          <span id="codigoyfecha"></span>
        </td>
        <tD style="text-align:center; " colspan="4"><BR><BR><BR> f. ___________________<br>
          <input type="text" id="usuario1" name="resp_regis" placeholder="persona que hace login">
        </td>
        <tD style="text-align:center" colspan="4"><BR><BR><BR> f. ___________________<br><BR>SERVIDOR</td>


    </table><BR>
    <div class="btnEnviar">
      <button type="submit" class="btn btn-primary">IMPRIMIR</button>
      <button type="submit" class="btn btn-primary">GUARDAR</button>
    </div>
  </section>
  <input type="hidden" id="iduser" value="<%=id%>">

  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
  <script>
    const id = document.getElementById('iduser');





    fetch("http://localhost:3000/consulta/" + id.value)
      .then(response => response.json())
      .then(user => {

        
        let nomEmpleado1 = document.getElementById('nomEmpleado1');
        nomEmpleado1.textContent = user[0].apellidos.toUpperCase() + ' ' + user[0].nombres.toUpperCase();
        let cedula1 = document.getElementById('cedula1');
        cedula1.textContent = user[0].cedula;
        let proceso1 = document.getElementById('proceso1');
        proceso1.textContent = user[0].proceso;
        let subproceso1 = document.getElementById('subproceso1');
        subproceso1.textContent = user[0].subproceso;
        let puesto1 = document.getElementById('puesto1');
        puesto1.textContent = user[0].puesto;
        let ltrabajo1 = document.getElementById('ltrabajo1');
        ltrabajo1.textContent = user[0].l_trabajo;
        let remuneracion1 = document.getElementById('remuneracion1');
        remuneracion1.textContent = user[0].rmu;
        let partida1 = document.getElementById('partida1');
        partida1.textContent = '202104700000000010000000200051200000100000000 - ' + user[0].partida;
        



        //Seleccionas todos los elementos con clase test
        let checkboxs = document.getElementsByClassName('check');

        //Recorres la lista de elementos seleccionados
        for (var i = 0; i < checkboxs.length; i++) {
          //Añades un evento a cada elemento
          checkboxs[i].addEventListener("click", function () {
            //Aquí la función que se ejecutará cuando se dispare el evento
            //alert(this.value); //En este caso alertaremos el texto del cliqueado

            if (this.value == 'VACACIONES') {
              document.getElementById('contentCheck').innerHTML = 'EXPLICACIÒN: (Opcional:Adjuntar Anexo<br>' +
                ' La Directora Ejecutiva de la ABG en uso de sus facultades y de conformidad con el Art. 29 de la ' +
                'Ley Organica del Servicio Publico, y en concordancia con el Art. 28 del Reglamento a la LOSEP, se concede ' +
                'VACACIONES, segun Memorando Nro. <input type="text" style="width : 200px" id="memo" placeholder="memorando" ' +
                ' name="memo"> de fecha <input type="date" id="funitalento" name="funitalento" placeholder="fecha">. </p>';
            } else if (this.value == 'PERMISO IMPUTABLE VACACIONES') {
              document.getElementById('contentCheck').innerHTML = 'EXPLICACIÒN: (Opcional:Adjuntar Anexo<br> ' +
                'La Directora Ejecutiva de la ABG en uso de sus facultades y de conformidad con el Art. 34 de la Ley Organica del ' +
                'Servicio Publico, y en concordancia con el Art. 65 del Reglamento a la LOSEP, se concede PERMISO IMPUTABLE A VACACIONES,' +
                ' segun Memorando Nro. <input type="text" style="width : 200px" id="memo" placeholder="memorando" name="memo"> de fecha <input' +
                ' type="date" id="funitalento" name="funitalento" placeholder="fecha">. </p>';
            } else if (this.value == 'INGRESO') {
              document.getElementById('contentCheck').innerHTML = 'INGRESO';
            } else if (this.value == 'NOMBRAMIENTO') {
              document.getElementById('contentCheck').innerHTML = 'NOMBRAMIENTO';
            } else if (this.value == 'ASCENSO') {
              document.getElementById('contentCheck').innerHTML = 'ASCENSO';
            } else if (this.value == 'SUBROGACIO') {
              document.getElementById('contentCheck').innerHTML = 'SUBROGACIO';
            } else if (this.value == 'ENCARGO') {
              document.getElementById('contentCheck').innerHTML = 'ENCARGO';
            } else if (this.value == 'TRASLADO') {
              document.getElementById('contentCheck').innerHTML = 'TRASLADO';
            } else if (this.value == 'TRASPASO') {
              document.getElementById('contentCheck').innerHTML = 'TRASPASO';
            } else if (this.value == 'CAMBIO ADMINISTRATIVO') {
              document.getElementById('contentCheck').innerHTML = 'CAMBIO ADMINISTRATIVO';
            } else if (this.value == 'INTERCAMBIO') {
              document.getElementById('contentCheck').innerHTML = 'INTERCAMBIO';
            } else if (this.value == 'COMISIÓN DE SERVICIOS') {
              document.getElementById('contentCheck').innerHTML = 'COMISIÓN DE SERVICIOS';
            } else if (this.value == 'LICENCIA') {
              document.getElementById('contentCheck').innerHTML = 'LICENCIA';
            } else if (this.value == 'REVALORIZACIÓN') {
              document.getElementById('contentCheck').innerHTML = 'REVALORIZACIÓN';
            } else if (this.value == 'RECLASIFICACIÓN') {
              document.getElementById('contentCheck').innerHTML = 'RECLASIFICACIÓN';
            } else if (this.value == 'UBICACIÓN') {
              document.getElementById('contentCheck').innerHTML = 'UBICACIÓN';
            } else if (this.value == 'REINTEGRO') {
              document.getElementById('contentCheck').innerHTML = 'REINTEGRO';
            } else if (this.value == 'RESTITUCIÓN') {
              document.getElementById('contentCheck').innerHTML = 'RESTITUCIÓN';
            } else if (this.value == 'RENUNCIA') {
              document.getElementById('contentCheck').innerHTML = 'RENUNCIA';
            } else if (this.value == 'SUPRESIÓN') {
              document.getElementById('contentCheck').innerHTML = 'SUPRESIÓN';
            }
            else if (this.value == 'DESTITUCIÓN') {
              document.getElementById('contentCheck').innerHTML = 'DESTITUCIÓN';
            } else if (this.value == 'REMOCIÓN') {
              document.getElementById('contentCheck').innerHTML = 'REMOCIÓN';
            } else if (this.value == 'JUBILACIÓN') {
              document.getElementById('contentCheck').innerHTML = 'JUBILACIÓN';
            } else if (this.value == 'OTRO') {
              document.getElementById('contentCheck').innerHTML = 'OTRO';
            }
            for (var j = 0; j < checkboxs.length; j++) {

              if (checkboxs[j].value !== this.value) {
                checkboxs[j].checked = 0;
              }

            }
          });
        }

        if (user[0].idSolicitud.trim() != '') {
          fetch("http://localhost:3000/consultavacaciones/" + user[0].idSolicitud)
            .then(response =>  response.json() )
            .then(sol => {//No. <br>ABG-UAH-ACP-2021- numero secuencial ejemplo (001vac)
              document.getElementById('codigoSec').textContent=sol[0].codigoSec;
              document.getElementById('fdesde').value=sol[0].fdesde;
              document.getElementById('fhasta').value=sol[0].fhasta;
              
            for (var i = 0; i < checkboxs.length; i++) {
              if (checkboxs[i].value == sol[0].tipo) {
                checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'EXPLICACIÒN: (Opcional:Adjuntar Anexo<br>' +
                ' La Directora Ejecutiva de la ABG en uso de sus facultades y de conformidad con el Art. 29 de la ' +
                'Ley Organica del Servicio Publico, y en concordancia con el Art. 28 del Reglamento a la LOSEP, se concede ' +
                'VACACIONES, segun Memorando Nro. <input type="text" style="width : 200px" id="memo" placeholder="memorando" ' +
                ' name="memo"> de fecha <input type="date" id="funitalento" name="funitalento" placeholder="fecha">. </p>';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'EXPLICACIÒN: (Opcional:Adjuntar Anexo<br> ' +
                'La Directora Ejecutiva de la ABG en uso de sus facultades y de conformidad con el Art. 34 de la Ley Organica del ' +
                'Servicio Publico, y en concordancia con el Art. 65 del Reglamento a la LOSEP, se concede PERMISO IMPUTABLE A VACACIONES,' +
                ' segun Memorando Nro. <input type="text" style="width : 200px" id="memo" placeholder="memorando" name="memo"> de fecha <input' +
                ' type="date" id="funitalento" name="funitalento" placeholder="fecha">. </p>';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'INGRESO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'NOMBRAMIENTO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'ASCENSO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'SUBROGACIO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'ENCARGO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'TRASLADO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'TRASPASO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'CAMBIO ADMINISTRATIVO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'INTERCAMBIO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'COMISIÓN DE SERVICIOS';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'LICENCIA';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'REVALORIZACIÓN';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'RECLASIFICACIÓN';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'UBICACIÓN';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'REINTEGRO';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'RESTITUCIÓN';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'RENUNCIA';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'SUPRESIÓN';
            }
            else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'DESTITUCIÓN';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'REMOCIÓN';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'JUBILACIÓN';
            } else if (checkboxs[i].value == sol[0].tipo) {
              checkboxs[i].checked = 1;
              document.getElementById('contentCheck').innerHTML = 'OTRO';
            }
            }
            document.getElementById('jefa1').value=sol[0].jencargada;
            document.getElementById('jefa2').value=sol[0].jencargada2;
            document.getElementById('jefa3').value=sol[0].jencargada3;
            document.getElementById('usuario1').value=sol[0].usuario;
            document.getElementById('fechaAutomtica1').textContent=sol[0].fecha;
            document.getElementById('codigoyfecha').textContent =sol[0].codigoSec+ ' Fecha: ' + sol[0].fecha;

            })
        }else{
          moment.locale('es');
        let now = moment();
        let fecha = now.format('LL')
        document.getElementById('fechaAutomtica1').textContent = fecha;
    
       document.getElementById('codigoyfecha').textContent= 'N°. ABG-UAH-ACP-2021-001vac Fecha: ' + fecha;
        }

      })
  </script>
</body>

</html>